.mainWrap {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.logoImage {
    height: 60px;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}


.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.clientList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.aside {
    height: 95%;
    width: 300px;
    background-color: #282837;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.asideInner {
    flex: 1;
}

.copyBtn {
    width: 100%;
    margin-top: 20px;
}

.buttons {
    position: fixed;
    bottom: 30px;
}

.leaveBtn {
    width: 100%;
    margin-top: 20px;
    background-color: #01fd87;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 15px;
    line-height: 1.6;
    padding-top: 20px;
}