body {
  margin: 0;
  background-color: #1C0A00;
}

.container {
  margin: auto;
  margin-top: 250px;
  width: 500px;
  height: 350px;
  text-align: center;
  background: rgba(96, 54, 1, 1);
  border-radius: 5px;
}

.room_id {
  border-radius: 5px;
  width: 300px;
  height: 30px;
  background-color: white;
  margin-top: 20px;
  outline: none;
}

.username {
  border-radius: 5px;
  width: 300px;
  height: 30px;
  background-color: white;
  margin-top: 20px;
  outline: none;
}

.Join_botton {
  position: relative;
  border-radius: 2px;
  margin-top: 10px;
  left: 105px;
  width: 100px;
  height: 20px;
  background-color: rgba(204, 149, 68, 1);
  cursor: pointer;
  border: none;
}

p {
  color: white;
}

.boxes {
  position: relative;
  top: 40px;
}

.new_room {
  color: rgba(204, 149, 68, 1);
  cursor: pointer;
}